# Random Forest- most accurate 
# it do funtioning diffrently

1. take training data
    then apply it do decision tree classifier
        step 1 - decision tree ---- tree
        step 2 - decision tree -- -- tree
    .
    .
    .
    .
         this is continue till you have decided how many tree do you want
     ..
     
     this recurrisive training is called ENSAMLE --- 
                                                     1 data same algo number of time
                                                     multiple data same algo single and multiple time
                                                     1 data multple algo
     
2. apply tesetin data

         then apply testing data in all this classifier and pick the best one 
     
     
                 so this is the collection of tree and randomly pick that tree which has best output  so this is called       Random Forest

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('social.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
features=df.iloc[:,:-1].values

In [18]:
label=df.iloc[:,-1].values
label

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [11]:
actual_feature=features[:,2:]
actual_feature.shape
label=

(400, 2)

In [12]:
# feature scaling of estimated salary data  as it is not in the same range of data of Age column

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scale=StandardScaler()

In [20]:
# now traing and testing data seperation 
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(actual_feature,label,test_size=.2)

In [21]:
# we scaled it 

final_train=scale.fit_transform(train_x)

C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [23]:
final_test=scale.transform(test_x)

C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [24]:
clf=RandomForestClassifier(n_estimators=30,criterion='entropy')

In [29]:
predicted=clf.fit(final_train,train_y)

In [30]:
final_ans=predicted.predict(final_test)

In [31]:
from sklearn.metrics import accuracy_score
accuracy_score(final_ans,test_y)

0.8875